{{!-- NavBar --}}
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a href="/" id="logo-container" class="brand-logo" style="color: green;"><i
                class="material-icons">loop</i>TreadLight</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/profile" class="btn-large waves-effect waves-light green lighten-1">Profile</a></li>
            <li><a href="/" class="btn-large waves-effect waves-light green lighten-1">Log out </a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            {{!-- <li><a href="/treadLight/views/profile.handlebars">Profile</a></li>
        <li><a href="/treadLight/views/register.handlebars"
            class="btn-large waves-effect waves-light green lighten-1">Sign up</a></li> --}}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    </div>
</nav>

{{!-- TripInfo --}}
 <div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class=" center card-action green lighten-1 white-text">
                <h4>Step 1</h4>
                <h5>Choose Your Destination</h5>
            </div>

            <div class="card-content">
                <form id="find-trip-info">
                    <div class="form-field">
                        <label for="departcity">Departing City</label>
                        <input type="text" id="departcity">{{cityOne}}
                    </div><br>
                     <div class="form-field">
                        <label for="arrivecity">Arrival City</label>
                        <input type="text" id="arrivecity">{{cityTwo}}
                    </div><br>
                    <button class="btn-large waves-effect waves-dark green" id="tripSubmit"
                        style="width: 100%;">Submit</button>

                </form>              
            </div>        
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="center card-action green lighten-1 white-text">
                <h4>Step 2</h4>
                <h5>Compare Your Carbon Footprint:</h5>
            </div>

            <div class="card-content">
                <form>

                    <form id="radioForm">

                        <p>
                            <label>
                                <input id="plane" type="radio" name="checkbox"
                                    value="{{co2var_plane}},{{tripDistance}},{{tripTime_plane}}" />
                                <span style="color: rgb(12, 56, 12);"><i class="fas fa-plane"></i>: {{co2var_plane}} CO2
                                    tons
                                    <i class="fas fa-road"></i>:
                                    {{tripDistance}} mi <i class="far fa-clock"></i>: {{tripTime_plane}}hrs </span>
                            </label>
                        </p>
                        <br>
                        <p>
                            <label>
                                <input id="train" type="radio" name="checkbox"
                                    value="{{co2var_train}},{{tripDistance}},{{tripTime_train}}" />
                                <span style="color: rgb(12, 56, 12);"><i class="fas fa-train"></i>: {{co2var_train}} CO2
                                    tons <i class="fas fa-road"></i>:
                                    {{tripDistance}} mi <i class="far fa-clock"></i>: {{tripTime_train}}hrs</span>
                            </label>
                        </p>
                        <br>
                        <p>
                            <label>
                                <input id="bus" type="radio" name="checkbox"
                                    value="{{co2var_bus}},{{tripDistance}},{{tripTime_bus}}" />
                                <span style="color: rgb(12, 56, 12);"><i class="fas fa-bus-alt"></i>: {{co2var_bus}} CO2
                                    tons <i class="fas fa-road"></i>:
                                    {{tripDistance}} mi <i class="far fa-clock"></i>: {{tripTime_bus}}hrs</span>
                            </label>
                        </p>
                        <br>
                        <p>
                            <label>
                                <input id="car" type="radio" name="checkbox"
                                    value="{{co2var_car}},{{tripDistance}},{{tripTime_car}}" />
                                <span style="color: rgb(12, 56, 12);"><i class="fas fa-car"></i>: {{co2var_car}} CO2
                                    tons
                                    <i class="fas fa-road"></i>:
                                    {{tripDistance}} mi <i class="far fa-clock"></i>: {{tripTime_car}}hrs</span>
                            </label>
                        </p>
                        <br>
                        <br>
                        <div class="form-field">
                            <button id="carbon-info" class="btn-large waves-effect waves-dark green" style="width: 100%;">Check your
                                carbon footprint</button>
                        </div>

                    </form>              
            </div>        
        </div>

    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="center card-action green lighten-1 white-text">
                <h4>Step 3</h4>
                <h5>Save Our Planet</h5>
            </div>

            <div class="card-content">
                <form id="trip-output">
                    <div class="form-field">

                        <p>
                            <label>
                                <span style="color: rgb(12, 56, 12);">
                                    TOTAL: <br>
                                    {{my_co2var}} Tons of CO2
                                     </span>
                                     <br>
                                    <span style="color: rgb(12, 56, 12);">
                                        <i class="fas fa-road"></i>:
                                        {{tripDistance}} mi
                                    </span>
                                    <br>
                                    <span style="color: rgb(12, 56, 12);">
                                        <i class="far fa-clock"></i>: {{my_tripTime}}hrs
                                    </span>
                                   
                            </label>
                        </p>
                        <br>
                        <p>Your total cost to offset this trip's CO2 is: <strong>${{my_money}}</strong></p>
                        <br>


                        <div class="form-field center">
                            <label for="donating">I chose to donate this amount:</label>
                            <input type="number" id="chosenDonation">
                            <button class="center btn-large waves-effect waves-light green lighten-1" id="tripSubmit"
                                style="width: 65%;">Save this to my profile</button>
                        </div>

                          
                    </div>
                    <br>
                    <br>


                    <div class="form-field center">
                        <button class="donate-btn btn-large center waves-effect waves-dark green"
                            style="width: 100%;">Donate</button>
                    </div>


                </form>              
            </div>        
        </div>
    </div>
        
</div>

    
{{!--     <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                    <div class="container">
                            <div class="row center">

                                </div>
                        </div>
                </div>
            <div class="parallax"><img src="img/sky-forest.jpg" alt="Unsplashed background img 2"></div>
        </div> --}}
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6YDdaRNCGktlvWISrGBjv75lcHfR-l44&libraries=places"></script>
{{!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6YDdaRNCGktlvWISrGBjv75lcHfR-l44&callback=initMap">
    </script> --}}

<script>

    var options = {
        types: ["(cities)"]
    }

    var input = document.getElementById('departcity');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    var input = document.getElementById('arrivecity');
    var autocomplete = new google.maps.places.Autocomplete(input, options);


</script>