<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
        </div>
    </div>
       <div class="parallax"><img src="img/tree.jpg" alt="Unsplashed background img 1"></div>
</div>
 <div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class=" center card-action green lighten-1 white-text">
                <h4>Step 1</h4>
                <h5>Choose your destination</h5>
            </div>

            <div class="card-content">
                <form id="find-trip-info">
                    <div class="form-field">
                        <label for="departcity">Departing City</label>
                        <input type="text" id="departcity">
                    </div><br>
                     <div class="form-field">
                        <label for="arrivecity">Arrival City</label>
                        <input type="text" id="arrivecity">
                    </div><br>
                    <button class="btn-large waves-effect waves-dark green" id="tripSubmit" style="width: 100%;">Submit</button>
                    <br>
                </form>              
            </div>        
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="center card-action green lighten-1 white-text">
                <h4>Step 2</h4>
                <h5>Compare Your Carbon Footprint:</h5>
            </div>

            <div class="card-content">
                <form id="find-trip-info">

                    <form action="#">
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span style="color: rgb(12, 56, 12);"><i class="fas fa-plane"></i>: ___{{co2var}} CO2 tons <i class="fas fa-road"></i>: ___
                                    {{tripDistance}} miles <i class="far fa-clock"></i>: ___{{tripTime}}hours</span>
                            </label>
                        </p>
                        <br>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span style="color: rgb(12, 56, 12);"><i class="fas fa-train"></i>: ___{{co2var}} CO2 tons <i class="fas fa-road"></i>: ___
                                    {{tripDistance}} miles <i class="far fa-clock"></i>: ___{{tripTime}}hours</span>
                            </label>
                        </p>
                        <br>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span style="color: rgb(12, 56, 12);"><i class="fas fa-bus-alt"></i>: ___{{co2var}} CO2 tons <i class="fas fa-road"></i>: ___
                                    {{tripDistance}} miles <i class="far fa-clock"></i>: ___{{tripTime}}hours</span>
                            </label>
                        </p>
                        <br>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span style="color: rgb(12, 56, 12);"><i class="fas fa-car"></i>: ___{{co2var}} CO2 tons <i class="fas fa-road"></i>: ___
                                    {{tripDistance}} miles <i class="far fa-clock"></i>: ___{{tripTime}}hours</span>
                            </label>
                        </p>
                        <br>

                        <div class="form-field">
                            <button class="btn-large waves-effect waves-dark green" style="width: 100%;">Check my carbon
                                footprint</button>
                        </div>
                    </form>              
            </div>        
        </div>

    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="center card-action green lighten-1 white-text">
                <h4>Step 3</h4>
                <h5>Save Our Planet</h5>
            </div>

            <div class="card-content">
                <form id="find-trip-info">
                    <div class="form-field">
                        <p style="color: rgb(12, 56, 12)">Be part of our community of people who no longer contribute to
                            climate change. </p>
                        <br>
                        <br>
                        <div class="center">
                            <i class="medium material-icons green-text">public</i>
                        </div>
                        <br>
                        <br>
                    </div>

                    <div class="form-field center">
                        <a href="https://standfortrees.org"
                            class=" center btn-large waves-effect waves-light green lighten-1">Donate</a>
                        {{!-- <button class="btn-large waves-effect waves-dark green" style="width: 100%;"><a href="https://standfortrees.org">Donate</a>Donate</button> --}}
                    </div>
                </form>              
            </div>        
        </div>
    </div>
        </div>

    
    <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                    <div class="container">
                            <div class="row center">

                                </div>
                        </div>
                </div>
            <div class="parallax"><img src="img/sky-forest.jpg" alt="Unsplashed background img 2"></div>
        </div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6YDdaRNCGktlvWISrGBjv75lcHfR-l44&libraries=places"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6YDdaRNCGktlvWISrGBjv75lcHfR-l44&callback=initMap">
    </script>
  <script>
      var input = document.getElementById('departcity');
      var autocomplete = new google.maps.places.Autocomplete(input);
      var input = document.getElementById('arrivecity');
      var autocomplete = new google.maps.places.Autocomplete(input);

      $(document).ready(function() {
          $("#tripSubmit").on("click", function() {
              event.preventDefault();
            let googleApiKey = "AIzaSyB6YDdaRNCGktlvWISrGBjv75lcHfR-l44"
            let cityOne = ($("#departcity").val().split(", ").join('+'))
            let cityTwo = ($("#arrivecity").val().split(", ").join('+'))
            let vehicleType = "driving"
            console.log($("#departcity").val().split(", ").join('+'));
            console.log($("#arrivecity").val().split(", ").join('+'));
            let googleURL= "https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=" + cityOne + "&destinations=" + cityTwo + "&mode=" + vehicleType + "&language=en-FR&key=" + googleApiKey;
            console.log(googleURL)
            $.ajax({
                url: googleURL,
                method: "GET"
            }).then(function(response) {
                console.log(response)
            })
            })
          });

          
      
</script>